    <div id="fb-root"></div>
    <script>
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="container">

      <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="{{ site.baseurl }}/info/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Info <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ site.baseurl }}/info/index.html#hotel">Hotel Reservations</a></li>
                <li><a href="{{ site.baseurl }}/info/index.html#venue">Venue Information</a></li>
                <li><a href="{{ site.baseurl }}/info/index.html#schedule">Schedule of Events</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="{{ site.baseurl }}/stories.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Stories <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/stories.html#proposal">Proposal Story</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Our Entourage</li>
                <li><a href="{{ site.baseurl }}/stories.html#theGirls">The Ladies</a></li>
                <li><a href="{{ site.baseurl }}/stories.html#theGuys">The Gents</a></li>
              </ul>
            </li>
            <li><a href="{{ site.baseurl }}/photos.html">Photos</a></li>
            <li><a href="{{ site.baseurl }}/gifts.html">Registry</a></li>
            <li><a href="{{ site.baseurl }}/rsvp/">RSVP</a></li>
            <li><a href="http://blog.noraandbernie.com/">Blog</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="navbar-text">We're married!</li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
      </nav>